In [1]:
%pip install duckdb
%pip install pandas
%pip install magic-duckdb==0.1.10
%load_ext magic_duckdb

In [6]:
%%dql
create table events as (
    select * from 'data/events.tsv'
);
create table ads as (
    select * from 'data/ads.tsv'
);

In [9]:
%%dql
select * from events

  event_id  ad_id   source  event_type       date  hour
0   xAbcd3      1      iOS  impression 2020-12-01    13
1   bf3VEc      1      iOS  impression 2020-12-01    15
2   bfE4gc      1  Android       click 2020-12-14     7
3   hTeGs5      3      Web  conversion 2020-12-01    12
4   g5ht7f      3  Android       click 2020-12-07    23
5   if5s3v      4      Web  conversion 2020-12-14     8

In [10]:
%%dql
select * from ads

   ad_id  campaign_id    status
0      1            1    active
1      2            1  inactive
2      3            1    active
3      4            2    active
4      5            2  inactive
5      6            2  inactive